@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
	background: rgb(46, 179, 72);
	background: radial-gradient(circle, rgba(46, 179, 72, 1) 28%, rgba(37, 111, 45, 1) 67%);
}

nav {
	margin-bottom: 20px;
}

div.start,
div.search {
	display: flex;
	justify-content: center;
}

header .brand-logo {
	font-family: Staatliches, sans-serif;
}

div .game-div row {
	height: 100%;
}

h2.player {
	font-size: 2rem;
}

p.score {
	font-size: 1.5rem;
}

div.modal h3 {
	font-size: 1.7rem;
	padding: 5px;
}

div.search form {
	width: 50%;
}

div.card {
	height: 500px;
}

/* Begin animation CSS */

.animate_content {
	animation: animate 3s ease;
}

  @keyframes animate {
	10% {transform: scale(1, 0.002);}
	
35% {
	transform: scale(0.2, 0.002);
	opacity: 1;
}
50% {
	transform: scale(0.2, 0.002);
	opacity: 0;

}
85% {
	transform: scale(1, 0.002);
	opacity: 1;

}
100% {
	transform: scale(1, 1);
}
  }

  .fadeIn {
	  z-index: 10;
  }
	




/* End Animation CSS */





@media (max-width: 992px) {
	div.card {
		height: 630px;
	}
}

@media (max-width: 600px) {
	.nav-wrapper .brand-logo {
		font-size: 1rem;
	}

}
