/* App styles */

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
	background: rgb(46, 179, 72);
	background: radial-gradient(circle, rgba(46, 179, 72, 1) 28%, rgba(37, 111, 45, 1) 67%);
}

/* Navigation */

nav {
	margin-bottom: 20px;
}


div.start,
div.search {
	display: flex;
	justify-content: center;
}

/* Game styles */

header .brand-logo {
	font-family: Staatliches, sans-serif;
}

h2.player {
	font-size: 2rem;
}

p.score {
	font-size: 1.5rem;
}

div.modal h3 {
	font-size: 1.7rem;
	padding: 5px;
}

/* Recipe search and past meals styles */

h2.search-heading,
h2.past-meals-heading {
	font-size: 1.8rem;
}

p.card-title {
	font-size: 1.2rem !important;
	line-height: 1.4rem !important;
}

div.search form {
	width: 50%;
}

div.card {
	height: 500px;
}

@media (max-width: 992px) {
	div.card {
		height: 600px;
	}
}

@media (max-width: 600px) {
	.nav-wrapper .brand-logo {
		font-size: 1rem;
	}

}

div .winners-circle {
	background-color: white;
}
