@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
background: rgb(46,179,72);
background: radial-gradient(circle, rgba(46,179,72,1) 28%, rgba(37,111,45,1) 67%);
}

nav  {
    margin-bottom: 20px;
}

div.start {
    display: flex;
    justify-content: center;
}


header .brand-logo {
    font-family: Staatliches, sans-serif;
}

div .game-div row {
    
    height:100%;
    
}

h2.player  {
    font-size: 2rem;
}

p.score {
    font-size: 1.5rem;
}

div.modal h3 {
    font-size: 1.5rem;
}


@media (max-width: 600px) {
    .nav-wrapper .brand-logo {
      font-size: 1rem;
    }
}